[submodule "external/priocpp"]
	path = external/priocpp
	url = https://gitlab.com/grumbel/priocpp.git
[submodule "external/cmake-modules"]
	path = external/cmake-modules
	url = https://gitlab.com/grumbel/cmake-modules.git
[submodule "external/xdgcpp"]
	path = external/xdgcpp
	url = https://gitlab.com/grumbel/xdgcpp.git
