[submodule "external/priocpp"]
	path = external/priocpp
	url = https://github.com/grumbel/priocpp.git
[submodule "external/tinycmmc"]
	path = external/tinycmmc
	url = https://github.com/grumbel/tinycmmc.git
[submodule "external/xdgcpp"]
	path = external/xdgcpp
	url = https://github.com/grumbel/xdgcpp.git
[submodule "external/geomcpp"]
	path = external/geomcpp
	url = https://github.com/grumbel/geomcpp.git
[submodule "external/logmich"]
	path = external/logmich
	url = https://github.com/logmich/logmich.git
[submodule "external/sexpcpp"]
	path = external/sexpcpp
	url = https://github.com/lispparser/sexp-cpp.git
