[Desktop Entry]
Name=Construo (SDL2)
Comment=Wire-frame construction toy (SDL2 + GLES2)
Exec=construo.sdl
Icon=construo
Terminal=false
Type=Application
Categories=Game;Simulation;
