[Desktop Entry]
Name=Construo (X11)
Comment=A wire-frame construction game
Icon=construo
Terminal=false
Exec=construo.x11 %f
Type=Application
Categories=Game;LogicGame;Simulation;
StartupNotify=false
MimeType=application/x-construo
