[Desktop Entry]
Name=Construo (Glut)
Comment=A wire-frame construction game
Icon=construo.glut
Terminal=false
Exec=construo %f
Type=Application
Categories=Game;LogicGame;Simulation;
StartupNotify=false
MimeType=application/x-construo
